body {
}


.aboutus{

    height:calc(100vh - 80px);
    position:absolute;
    top:60px;
    width:100%;
    background:white;
}

.our-vision{
    background:#AB3428;
    height:400px;
    color:white;
}

.our-vision #title{
    color:white !important;
}

.our-vision .team{
    border-color:white;
}

.container{
    padding:0 10%;
}

.team{
    float:left;
    width:100%;
    border-top:1px solid black;
    height: auto;
    text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
}

.team-member{
    display:inline;
    font-size:14px;
    width: auto;
    height: 40px;
    vertical-align: top;
    display: inline-block;
    *display: inline;
    zoom: 1;
    padding:15px 0;
}

.team-member a{
    color:black;

}

.team-member a:hover{
    text-decoration:none;
    color:#1CD24E;
}

.stretcher {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0;
}

#title{
    font-size:1.5em;
    color:#1CD24E;
    color:black;
    letter-spacing:2px;
}

hr {
    color: green;
    border-color: #1CD24E;
}

.about{
    height:300px;
    width:100%;
    background:white;
    margin-top:calc(80px + 60px);
}

/*.picture{
    height:300px;
    width:300px;
    float:left;
}*/

.info{
    flex:auto;
    height:100%;
    float:left;
    width:calc(100% - 300px);
    padding:0 15px;
}

.about{
    display:none;
}

.current{
    display:block;
}

.selected{
    color:#1CD24E !important;
    font-weight:bold;
    border-bottom:1px solid #1CD24E;
}

.team-member a, .team-member a:hover, .team-member a:active, .team-member a:visited {
    text-decoration:none !important;
    cursor:pointer;
}

.andrew{
    background:url("ares.PNG") no-repeat cover;
}

.andrew:hover{
    background:blue;
}


#description{
    height:auto;
}

.left-col{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden

}

.left-col img{
    flex-shrink: 0;
    /*min-width: 100%;
    min-height: 100%;*/
    object-fit: cover;
    height:300px;
    width:300px;
}

.right-col{
    height:auto;
}

.mobile{
    display: none;
}

@media only screen and (max-width: 768px) {

    .aboutus{
        display:none;
    }

    .mobile{
        top:60px;
        position: absolute;
        display: block;
        width:100%;
        padding:0 10%;

    }

    .about{
        display: block;
        float:left;
        height:auto;
        margin-top:50px;
    }

    hr{
        color:black;
        border-color:black;
    }

    .mobile-title{
        width:100%;
        text-align: left;
        font-size: 1.5em;
        color:black;
        margin-top:15px;
        border-bottom:1px solid black;
    }

}