@import url(https://fonts.googleapis.com/css?family=Lato:300,400,900);
@import url(https://fonts.googleapis.com/css?family=Montserrat:300,400,900);

html, body {
  height: 100%;
  margin: 0;
  font-family: Montserrat;
  font-family:Lato;
  color: white;
}

#page1 { background: url(photos/clc.jpg)}
#page3 { background: #5CA48D; }

.wrapper {
  display: table;
  height: 100%; width: 100%;
}

.stage {
  display: table-cell;
  vertical-align: middle;
}

.tabled, .middled {
  text-align: center;
  margin: 0 auto;
}

h1 { text-transform: uppercase; }
.thin { font-weight: normal; }
.thick { font-weight: bolder; }

span.slogan{
    font-family: Montserrat;
    color:white;
}

.page-content{
    display: table-cell;
    padding:0 15%;
   text-align:left;
  font-family:Montserrat;
}

.page-title{
  font-size:36px;
  color:black;
  text-align:center;
  margin-top:30px;
}

.page-detail{
  background:rgba(255,255,255,.5);
  color:black;
  padding:5px;
  border-radius:2px;
  margin-top:5px;
}

.page-detail h2{
  text-align:center;
}