.index{
	height:calc(100vh - 60px);
  width:100%;
  margin-top:60px;

}


.image{
	background:url(https://wallpaperscraft.com/image/boat_canoe_lake_trees_111045_3840x2160.jpg) no-repeat center center fixed;
    -webkit-background-size: 100% 100%;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100% 100%;
  color: #fff;
    position: relative;
  z-index: 1;
  height:100%;
  width:100%;
}

.mobile-page{
	height:100vh;
}