@import url(http://fonts.googleapis.com/css?family=Montserrat);
*{padding:0;margin:0}
img {
    max-width: 100%;
    max-height: 100%;
}

body {
    font-family:montserrat;
       overflow: scroll;

    -webkit-overflow-scrolling: touch;
}


.navigation-bar{
    background:white;
    border-radius:0px;
    height:60px;
    padding:0 10%;
}

.navbar-toggle {
    border-radius: 0;
    background: white;
    color: #1CD24E;
}

.navbar-toggle:hover{
    background:white !important;
    text-decoration:none;
    color:#1CD24E !important;
}

.icon-bar{
    background:white;
}

.navbar-collapse{
}

.nav{
    line-height:60px;
    display:inline;
    height:60px;
}

#menu{
    margin:0px;
    padding:0px;
    float:left;
    list-style:none;

}

.navlink{
    float:left;
    height:90%;
    line-height:60px;
    padding:0 25px;
}

.navlink > a{
    height:100%;
    color:black;
    outline:1px solid black;
    padding:10px 15px;
}

.navlink > a:hover{
    /*border-left:5px solid green;
    border-right:5px solid green;
    border-bottom:3px solid black;*/
    outline:1px solid #1CD24E;
    transition-duration:.5s;
    text-decoration:none;
    padding:10px 15px;
    color:#1CD24E;
    border-radius:5px;
}

#logo{
    height:100%;
    font-size:1.5em;
    color:#1CD24E !important;
    padding:0 25px 0 0px !important;
    line-height:60px;
    margin:0px !important;
    float:left;
}

#logo:hover{
    text-decoration:none;
    border-bottom:none !important;
    
}

#loginLink{
    color:#1CD24E;
    padding:10px 25px;
    outline:solid #1CD24E;
    transition-duration:1.5s;
    font-weight: bold;
}

#loginLink:hover{
    background:#1CD24E;
    color:white;
    text-decoration:none;
}

.page{
    background:white;
    color:black;
    margin-top:60px;
/*    margin-top:60px;
    width:100vw;*/
}
.landing{

    background:url("photos/background.jpg") no-repeat center center fixed;
    -webkit-background-size: 100% 100%;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100% 100%;
  color: #fff;
    position: relative;
  z-index: 1;
  height:calc(100vh - 60px);
}


.landing .learn > a:hover{
    opacity: .7;
    transition-duration: .7;

    text-decoration: none;
}

h1{
    font-size:  2.5em;
}

h3{
    font-size:  1.75em;
}

.information{
    height:auto;
}

.logo1{
    margin:10px auto 10px auto;
    width:50px;
    height:50px;
    border-radius: 5px;
    text-align: center;
    border:2px solid  white;
    line-height: 50px;
}

.logo1 > span{
    color:#1CD24E;
    line-height: 50px;
    font-size:28px;
    display:block;
    color:white;
}

.box{
    background:rgba(0,0,0,.13);
    position:absolute;
    top:5%;
    left:5%;
    width:90%;
    margin:0 auto;
    height:auto;
    padding:5px 0;
    border-radius: 5px;
}


.left{
    background:blue;
}

.right{
}

.photo{
    background:black;
    height:100%;
}

.row{
    margin-bottom:50px;
}

.info{
    height:400px;
}

.title{
    width:100%;
    text-align: center;
    font-size: 3em;
    padding:15px 0;
    color:white;
     font-weight: bolder;
}

.subtitle{
    width:100%;
    color:white;
    font-size:1.75em;
    text-align: center;
    font-weight: bold;
}

.box2{
}

.app{
    background:white;
    height:800px;
    border:1px solid black;
    margin:0 auto;
}


.learn1{
    margin-top:50px;
    display: block;
}

.learn-btn{
    margin-top:10px;
    padding:15px 15px;
    display: block;
    color:#005377;
    text-align: center;
    min-width:140px;
    width:100%;
    font-weight: bold;
    background:#AB3428;
    color:white;
    margin:0px auto;
}


.bottom{
    position:absolute;
    bottom:5px;
    color:white;
    height:40px;
    line-height:40px;
    padding:0 5%;
}


.bottom > ul{
    list-style: none;
    display: inline;
}

.bottom > ul > li{
    display: block;
    float:left;
    padding:0 15px;
    color:white;
}

.tab-btn{
    color:white;
}

.tab-btn:hover, .tab-btn:visited{
    color:white;

}


.cards{
    height: 10%;

    text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;

    display: block;
    margin-left: auto; 
    margin-right: auto;
    width:90%;
    margin-top:20px;
}

.card{
    width: 30%;
    height: 400px;
    vertical-align: top;
    display: inline-block;
    *display: inline;
    zoom: 1
    color:black;
    /*box-shadow: 55px 27px 55px 27px rgba(0, 0, 0, 0.3);*/
    /*background:rgba(0,0,0,.25);*/
    text-align: center;
    font-family: montserrat;
    position: relative;
    /*border:2px solid white;*/
}

h1,h2,h3,h4,h5{
    font-family: montserrat;
}

.stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
}


.scroll{
    position: absolute;
    bottom:0;
    height:80px;
    width:100%;
    text-align: center;
    line-height: 40px;
    color:white;

}

.chevron::before {
    border-style: solid;
    border-width: 0.25em 0.25em 0 0;
    content: '';
    display: inline-block;
    height: 0.80em;
    left: 0.15em;
    position: relative;
    top: 0.15em;
    transform: rotate(-45deg);
    vertical-align: top;
    width: 0.8em;
}

.chevron{
    text-align: center;
    width:100%;
}

.chevron.right:before {
    left: 0;
    transform: rotate(45deg);
}

.chevron.down:before {
    top:0;
    transform: rotate(135deg);
}

.chevron.left:before {
    left: 0.25em;
    transform: rotate(-135deg);
}

.scroll-label{
    height:50%;
    width:100%;
    text-align: center;
}

.card ul{
    list-style-position: inside;
    text-align: center;
}

.card h2{
    text-align: center;
    font-weight: bolder;
    font-size: 2em;
}

.card a{
    padding:10px 5px;
    width:40%;
    margin:0 auto;
    display: block;
    color:white;
    background:#AB3428;
    position: absolute;
    bottom:5px;
    left:30%;
}

.card a:hover{
    text-decoration: none;
}

.mobile{
    display: block;
}

.mobile .container{
    padding:0 5%;
}

.mobile a{
    background:#AB3428;
    width:100%;
    display: block;
    text-align: center;
    color:white;
    padding:15px 0;
    margin-bottom: 50px;
}

.mobile h1{
    color:#1CD24E;
    text-align: center;
}

.mobile > .logo1{
    color:#1CD24E;
    border-color:black;
    color:black;
    margin:20px auto 10px auto;
}

.mobile .logo1 > span{
    color:black;
}

.mobile .footer{
    background:grey;
    width:100%;
    height:30px;
    line-height:30px;
}

#landing{
    margin-top:60px;
    background:blue;
    height:calc(100vh - 60px);
    background:url(photos/background.jpg) no-repeat center center;
    background-size:cover;
}

#dataPage{
    background:green;
    height:calc(100vh - 60px);
}

.overlay{
    height:100%;
    width:100%;
    background:rgba(0,0,0,.3);
}

.sign-up{
    margin-top:50px;
    margin:50px 5% 0 5%;
}


@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    
    .box{
       /* top:20px;*/
       top:5%;
       background:inherit;
    }

    .title{
        font-size: 1em;
        position:relative;
        top:50px;
    }

    .subtitle{
        font-size: 1em;
        width:100%;
        margin-top:25%;
        padding:0 5%;
        position: relative;
    }

    .cards, .card{
        display: none;
    }

    .bottom{
        display: none;
    }

    .landing{
        background:url("photos/background-sm.jpg") no-repeat center center fixed;
        background-size: cover !important;
    }


}

@media only screen and (max-height: 900px) and (min-width:768px) {
    /* For mobile phones: */
    
    .title{
        font-size: 1.25em;
    }

    .subtitle{
        font-size: 1em;
    }

    .logo1{
        height:40px;
        width:40px;
    }

    .logo1 span{
        font-size: 20px;
        line-height: 40px;
    }

    .cards {
        padding-top:0px;
    }

    .card {
        height:300px;
    }

    .card h2{
        font-size: 1em;
    }

    .card h3{
        font-size: .85em;
    }

    .card a{
        font-size: .75em;
    }

    .box{
       min-width: 760px;
       max-height:475;
    }


    .learn-btn,.learn{
        display: none;
    }

    .scroll{
        display: none;
    }

    .bottom{
        height:25px;
        line-height: 25px;
        font-size: 12px;
    }

}

@media only screen and (min-width: 768px) {
    /* For mobile phones: */
    

    .box{
       min-width: 760px;
    }

    .learn-btn,.learn{
        display: none;
    }

    .scroll{
        display: none;
    }

    .mobile{
        display: none;
    }

    

}