@import url(http://fonts.googleapis.com/css?family=Montserrat);
*{padding:0;margin:0}
img {
    max-width: 100%;
    max-height: 100%;
}

body {
    font-family:montserrat;
}


.navigation-bar{
    background:white;
    border-radius:0px;
    height:60px;
    padding:0 10%;
}

.navbar-toggle {
    border-radius: 0;
    background: white;
    color: #1CD24E;
}

.navbar-toggle:hover{
    background:white !important;
    text-decoration:none;
    color:#1CD24E !important;
}

.icon-bar{
    background:white;
}

.navbar-collapse{
}

.nav{
    line-height:60px;
    display:inline;
    height:60px;
}

#menu{
    margin:0px;
    padding:0px;
    float:left;
    list-style:none;

}

.navlink{
    float:left;
    height:90%;
    line-height:60px;
    padding:0 25px;
}

.navlink > a{
    height:100%;
    color:black;
    outline:1px solid black;
    padding:10px 15px;
}

.navlink > a:hover{
    /*border-left:5px solid green;
    border-right:5px solid green;
    border-bottom:3px solid black;*/
    outline:1px solid #1CD24E;
    transition-duration:.5s;
    text-decoration:none;
    padding:10px 15px;
    color:#1CD24E;
    border-radius:5px;
}

#logo{
    height:100%;
    font-size:1.5em;
    color:#1CD24E !important;
    padding:0 25px 0 0px !important;
    line-height:60px;
    margin:0px !important;
    float:left;
}

#logo:hover{
    text-decoration:none;
    border-bottom:none !important;
    
}

.page{
    background:white;
    height:calc(100vh - 60px);
    color:black;
    margin-top:60px;
}
.landing{

    background:url(http://static1.squarespace.com/static/54f382d7e4b09389aa3b9d1e/t/558ad07de4b0e9f43df1e5bc/1435160712911/Great+Camp+Sagamore-8370.jpg?format=1500w) no-repeat center center fixed;
    
    background:url(https://wallpaperscraft.com/image/boat_canoe_lake_trees_111045_3840x2160.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100% 100%;
  color: #fff;
    position: relative;
  z-index: 1;
/*  background-image: linear-gradient(to bottom right, #8CFBDE 0%, #D5C67A 40%, #103900 100%);*/
  height:calc(100vh - 60px);
}

/*.landing:after{
background: inherit;
  bottom: 0;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
/*  transform: skewY(-4.5deg);
  transform-origin: 100%;
  z-index: -1;
}*/

.landing .learn{
    bottom:10;
    position: absolute;
    text-align: center;
    width:100%;
    height:50px;
    line-height:50px;
}

.landing .learn > a{
    outline: 3px solid white;
    padding:10px 15px;
    color:#1CD24E;
    font-size: 1em;
    background:white;
}

.landing .learn > a:hover{
    opacity: .7;
    transition-duration: .7;

    text-decoration: none;
}

h1{
    font-size:  2.5em;
}

h3{
    font-size:  1.75em;
}

.information{
    height:auto;
}

.logo1{
    margin:10px auto 10px auto;
    width:64px;
    height:64px;
    border-radius: 5px;
    text-align: center;
    border:2px solid  white;
    line-height: 64px;
}

.logo1 > span{
    color:#1CD24E;
    line-height: 64px;
    font-size:35px;
    display:block;
    color:white;
}

p{
    font-size: 1.25em;
}

.box{
    background:rgba(0,0,0,.13);
    position:absolute;
    top:5%;
    left:5%;
/*    position: absolute;
    top:40px;
    margin:0 auto;
    width:90%;
/*    background:rgba(0,0,0,.4);
    border-radius: 2px;
    left:5%;
    /*border-left:3px solid white;
    padding:25px 0;
    background:rgba(0,0,0,0.13);*/
    width:90%;
    margin:0 auto;
    height:auto;
    padding:10px 0;
}


.left{
    background:blue;
}

.right{
}

.photo{
    background:black;
    height:100%;
}

.row{
    margin-bottom:50px;
}

.info{
    height:400px;
}

.title{
    width:100%;
    text-align: center;
    font-size: 3em;
    padding:15px 0;
    color:white;
     font-weight: bold;
}

.subtitle{
    width:100%;
    color:white;
    font-size:1.75em;
    text-align: center;
    font-weight: bold;
}

.box2{
}

.app{
    background:white;
    height:800px;
    border:1px solid black;
    margin:0 auto;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    
    .box{
       /* top:20px;*/
    }

    .title{
        font-size: 1em;
    }

    .subtitle{
        font-size: .75em;
        width:100%;
    }

    .cards{
        display:none;
    }
}

.learn1{
    margin-top:50px;
    display: block;
}

.learn-btn{
    margin-top:10px;
    padding:15px 15px;
    border:3px solid white;
    display: block;
    color:#005377;
    text-align: center;
    min-width:140px;
    width:100%;
    font-weight: bold;
    background:rgba(255,255,255,.7);
    margin:0px auto;
}

.learn-btn:hover{
    background:white;
    color:#005377;
    text-decoration: none;
    cursor: pointer;
}

.bottom{
    position:absolute;
    bottom:0;
    color:white;
    height:40px;
    line-height:40px;
    padding:0 5%;
}

.bottom > ul{
    list-style: none;
    display: inline;
}

.bottom > ul > li{
    display: block;
    float:left;
    padding:0 15px;
}

.tab-btn{
    color:white;
}

.tab-btn:hover, .tab-btn:visited{
    color:white;

}

.tabbed{
    text-decoration: underline;
}


/*.card {
  will-change: transform;
  margin: 8px;
  position: relative;
  border-radius: 2px;
  overflow: hidden;
  background-color: #fafafa;
  height: 35%;
  width: 344px;
  -webkit-transition: all 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
}
.card:hover {
  cursor: pointer;
}
.card__image {
  position: absolute;
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repat;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: block;
  opacity: 0;
  -webkit-transition: all 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.card__image:after {
  content: "";
  display: block;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.1);
  top: 0;
  left: 0;
  right: 0;
  -webkit-transition: all 500ms;
  transition: all 500ms;
  bottom: 0;
}
.card__title {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 24px;
  color: #FFF;
  margin: 0;
  position: absolute;
  left: 0;
  right: 0;
  padding: 0 16px;
  font-weight: 400;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-transition: all 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.card__subtitle {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 14px;
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #000;
  left: 88px;
  right: 0;
  top: 45px;
  position: absolute;
  padding: 0 16px;
  opacity: 0;
  -webkit-transition: all 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.card__text {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 14px;
  display: block;
  left: 0;
  right: 0;
  top: 100px;
  padding: 16px;
  margin: 0;
  line-height: 1.6;
  position: absolute;
  color: #000;
  overflow: hidden;
  -webkit-transition: width 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: width 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-transition: delay 0.1s;
  transition: delay 0.1s;
}
.card__action-bar {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: absolute;
  bottom: 0;
  top: auto;
  left: 0;
  right: 0;
  padding: 0 8px;
  border-top: 1px solid #E0E0E0;
  boz-sizing: border-box;
  height: 52px;
  -webkit-transition: left 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: left 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.card__button {
  outline: none;
  position: relative;
  display: inline-block;
  line-height: 52px;
  padding: 0 16px;
  color: #ff1744;
}
.card--big {
  box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3), 0 17px 17px 0 rgba(0, 0, 0, 0.15);
  height: 304px;
  min-height: 304px;
}
.card--big .card__image {
  border-radius: 1px 1px 0 0;
  left: 0;
  right: 0;
  top: 0;
  opacity: 1;
  max-height: 176px;
}
.card--big .card__title {
  top: 135px;
}
.card--big .card__text {
  top: 176px;
}
.card--big .card__action-bar {
  left: 0;
}
.card--medium {
  box-shadow: 0 13px 25px 0 rgba(0, 0, 0, 0.3), 0 11px 7px 0 rgba(0, 0, 0, 0.19);
  height: 208px;
  min-height: 208px;
}
.card--medium .card__image {
  border-radius: 1px 1px 0 0;
  left: -100%;
  right: 0;
  top: 0;
  max-height: 0;
  opacity: 0;
}
.card--medium .card__title {
  color: #ff1744;
  top: 16px;
}
.card--medium .card__text {
  font-size: 16px;
  top: 50px;
}
.card--medium .card__action-bar {
  left: 0;
}
.card--small {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  height: 136px;
  min-height: 136px;
}
.card--small .card__image {
  border-radius: 1px 0 0 1px;
  left: 0;
  top: 0;
  width: 88px;
  opacity: 1;
  max-height: 136px;
}
.card--small .card__image:after {
  opacity: 0;
}
.card--small .card__title {
  color: #000;
  left: 88px;
  top: 8px;
}
.card--small .card__subtitle {
  opacity: 1;
  left: 88px;
}
.card--small .card__text {
  top: 30px;
  opacity: 0;
}
.card--small .card__action-bar {
  left: 88px;
}*/


.cards{
    height: 10%;

    text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;

    /* just for demo */
    min-width: 612px;
    display: block;
    margin-left: auto; 
    margin-right: auto;
    width:90%;
    margin-top:40px;
}

.card{
    width: 30%;
    height: 100%;
    vertical-align: top;
    display: inline-block;
    *display: inline;
    zoom: 1
    color:black;
    /*box-shadow: 55px 27px 55px 27px rgba(0, 0, 0, 0.3);*/
    /*background:rgba(0,0,0,.25);*/
    text-align: center;
    font-family: montserrat;
}

h1,h2,h3,h4,h5{
    font-family: montserrat;
}

.stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
}