@import url(http://fonts.googleapis.com/css?family=Montserrat);
*{padding:0;margin:0}
img {
    max-width: 100%;
    max-height: 100%;
}

body {
    font-family:montserrat;
}


.navigation-bar{
    background:white;
    border-radius:0px;
    height:60px;
    padding:0 10%;
}

.navbar-toggle {
    border-radius: 0;
    background: white;
    color: #1CD24E;
}

.navbar-toggle:hover{
    background:white !important;
    text-decoration:none;
    color:#1CD24E !important;
}

.icon-bar{
    background:white;
}

.navbar-collapse{
}

.nav{
    line-height:60px;
    display:inline;
    height:60px;
}

#menu{
    margin:0px;
    padding:0px;
    float:left;
    list-style:none;

}

.navlink{
    float:left;
    height:90%;
    line-height:60px;
    padding:0 25px;
}

.navlink > a{
    height:100%;
    color:black;
    outline:1px solid black;
    padding:10px 15px;
}

.navlink > a:hover{
    /*border-left:5px solid green;
    border-right:5px solid green;
    border-bottom:3px solid black;*/
    outline:1px solid #1CD24E;
    transition-duration:.5s;
    text-decoration:none;
    padding:10px 15px;
    color:#1CD24E;
    border-radius:5px;
}

#logo{
    height:100%;
    font-size:1.5em;
    color:#1CD24E !important;
    padding:0 25px 0 0px !important;
    line-height:60px;
    margin:0px !important;
    float:left;
}

#logo:hover{
    text-decoration:none;
    border-bottom:none !important;
    
}

.page{
    background:white;
    height:calc(100vh - 60px);
    color:black;
    margin-top:60px;
}
.landing{

    background:url(http://static1.squarespace.com/static/54f382d7e4b09389aa3b9d1e/t/558ad07de4b0e9f43df1e5bc/1435160712911/Great+Camp+Sagamore-8370.jpg?format=1500w) no-repeat center center fixed;
    
    background:url(https://wallpaperscraft.com/image/boat_canoe_lake_trees_111045_3840x2160.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100% 100%;
  color: #fff;
    position: relative;
  z-index: 1;
/*  background-image: linear-gradient(to bottom right, #8CFBDE 0%, #D5C67A 40%, #103900 100%);*/
  height:calc(100vh - 60px);
}

/*.landing:after{
background: inherit;
  bottom: 0;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
/*  transform: skewY(-4.5deg);
  transform-origin: 100%;
  z-index: -1;
}*/

.landing .learn{
    bottom:10;
    position: absolute;
    text-align: center;
    width:100%;
    height:50px;
    line-height:50px;
}

.landing .learn > a{
    outline: 3px solid white;
    padding:10px 15px;
    color:#1CD24E;
    font-size: 1em;
    background:white;
}

.landing .learn > a:hover{
    opacity: .7;
    transition-duration: .7;

    text-decoration: none;
}

h1{
    font-size:  2.5em;
}

h3{
    font-size:  1.75em;
}

.information{
    height:auto;
}

.logo1{
    margin:10vh auto 50px auto;
    background:black;
    width:64px;
    height:64px;
    border-radius: 5px;
    text-align: center;
    border:1px solid #1CD24E;
    line-height: 64px;
}

.logo1 > span{
    color:#1CD24E;
    line-height: 64px;
    font-size:35px;
    display:block;
}

p{
    font-size: 1.25em;
}

.box{

    position: absolute;
    top:80px;
    margin:0 auto;
    width:90%;
/*    background:rgba(0,0,0,.4);*/
    border-radius: 2px;
    left:5%;
    border-left:3px solid white;
    padding:25px 0;

}


.left{
    background:blue;
}

.right{
}

.photo{
    background:black;
    height:100%;
}

.row{
    margin-bottom:50px;
}

.info{
    height:400px;
}

.title{
    width:100%;
    text-align: center;
    font-size: 3em;
    padding:15px 0;
    color:#fff;
     font-weight: bold;
}

.subtitle{
    width:100%;
    color:white;
    font-size:1.5em;
    text-align: center;
    font-weight: bold;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    
    .box{
        top:80px;
    }

    .title{
        font-size: 1.5em;
    }

    .subtitle{
        font-size: .75em;
        width:60%;
    }
}

.learn1{
    margin-top:50px;
}

.learn-btn{
    margin-top:10px;
    padding:15px 15px;
    border:3px solid white;
    display: block;
    color:#005377;
    text-align: center;
    min-width:140px;
    width:100%;
    font-weight: bold;
    background:rgba(255,255,255,.7);
    margin:0px auto;
}

.learn-btn:hover{
    background:white;
    color:#005377;
    text-decoration: none;
    cursor: pointer;
}

.bottom{
    position:absolute;
    bottom:0;
    color:white;
    height:40px;
    line-height:40px;
    padding:0 5%;
}

.bottom > ul{
    list-style: none;
    display: inline;
}

.bottom > ul > li{
    display: block;
    float:left;
    padding:0 15px;
}

.tab-btn{
    color:white;
}

.tab-btn:hover{
    color:white;

}

.tabbed{
    text-decoration: underline;
}